// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main {
  padding: 0;
  margin: 0;
}

$infoshift-blue: #235496;

.floating {
	position: fixed;
	opacity: 0;
	top: 150px;
	ul {
		list-style-type: none;
		li {
			margin-bottom: 5px;
			a {
		    font-family: intro;
			text-decoration: none;
			text-transform: uppercase;
			color: #e6e6e6;
			letter-spacing: 3px;
			font-weight: lighter;
			padding: 10px 5px 5px 10px;
			background-color: #252525;

			-webkit-transition: all .2s ease;
	           -moz-transition: all .2s ease;
	      -o-transition:      all .2s ease;
	      transition:      all .2s ease;
		  }

		  a:hover {
		  	background-color: $infoshift-blue;
		  }
		}
	}
}

.first {
	height: auto; 
	background-color: #252525;
	padding: 0px 50px 50px 50px;

	

	.links {
		margin-bottom: 20px;
		a {
			font-family: intro;
			text-decoration: none;
			text-transform: uppercase;
			color: #e6e6e6;
			letter-spacing: 3px;
			font-weight: lighter;
		}
	}
}

.second {
	height: auto; 
	background: url(cityscape.jpg);
	background-size: cover;
	padding: 60px;
}

.div-title {
	font-family: intro;
	color: #252525;
	text-transform: uppercase;
	font-weight: 200;
}

.content-texts {
  font-family: 'Muli', sans-serif;
}

.third {
	height: auto; 
	background-color: #b4b4b4;
	padding: 100px 50px 100px 50px;

	.grid {
		margin-top: 50px;
	}

	.products-image {
		height: 150px;
		background: url(cityscape.jpg);
	    background-size: cover;
	}

	.products-content {
		height: 200px;
		background-color: #252525;
		height: 150px;
	}
}

.fourth {
	padding: 100px 50px 50px 50px;
	height: 800px;
	background: url(team2.jpg);
	background-size: cover;

	h3, p {
		color: #ffffff;
	}
}

.fifth {
	padding: 100px 50px 70px 50px;
	height: auto;
	background-color: #252525;

	h3, p {
		color: #ffffff;
	}

    .content {
    	-webkit-transition: all .25s ease;
      -moz-transition:    all .25s ease;
      -o-transition:      all .25s ease;
      transition:      all .25s ease;
    }

    .accordion {
    	.accordion-navigation {
    		padding: 5px;
    		a {
    			background-color: #235496;
    			color: #dbdbdb;
    			font-family: intro;
    			-webkit-transition: all 0.6s ease;
  				-moz-transition:    all 0.6s ease;
  				-o-transition:      all 0.6s ease;
  				transition:      all 0.6s ease;
    		}

    		a:hover {
    			background-color: #114080;
    		}
    	}
    }
}

.contact-us {
	padding: 100px 50px 50px 50px;
	height: 600px;
	background: url(map2.png);
	background-size: cover;

	h1 {
		color: #dbdbdb;
		background-color: rgba(37,37,37,.9);
		padding-top: 8px;
	}

	.contact-form {
		height: 200px;

		textarea {
			min-height: 200px;
			resize: none;
			font-family: 'Muli', sans-serif;
		}

		input {
			font-family: 'Muli', sans-serif;
		}

		.button {
			background-color: #235496;
			-webkit-transition: all 0.6s ease;
  				-moz-transition:    all 0.6s ease;
  				-o-transition:      all 0.6s ease;
  				transition:      all 0.6s ease;
		}

		.button:hover {
			background-color: #114080;
		}
	}
	::-webkit-input-placeholder {
   text-transform: capitalize;
   font-size: 12pt;
   font-weight: 200;
   font-family: 'Muli', sans-serif;
	}

	::-moz-input-placeholder {
	   text-transform: capitalize;
	   font-size: 12pt;
	   font-weight: 200;
	   font-family: 'Muli', sans-serif;
	}

	::-ms-input-placeholder {
	   text-transform: capitalize;
	   font-size: 12pt;
	   font-weight: 200;
	   font-family: 'Muli', sans-serif;
	}
}

